{% extends "base.html" %}

{% block content %}
<center>
<h1> Imie: {{object.name}} </h1>
<p> Przydomek: {{object.nickname}} </p>
<p> Rasa: {{object.race}} </p>
<p> Profesja: {{object.profession}} </p>
</center>
<br>
<p><b>Statystytki: </p></b>
<p> Siła: {{object.strength}} </p>
<p> Mana: {{object.mana}} </p>
<p> HP: {{object.HP}} </p>

{% if request.user.is_authenticated %}
  {% if request.user.is_staff %}
    <a href='{{ object.get_edit_url}}'>Edytuj</a>
    <a href='{{ object.get_delete_url }}'>Usun</a>
  {% endif %}
{% endif %}
{% endblock %}
