{% extends "base.html" %}
{% load static %}

{% block content %}
<center>
<h2> {{object.name}} {{object.nickname}} </h2>
<p> Rasa: {{object.race}} </p>
<p> Profesja: {{object.profession}} </p>
<br>
<p><b>Statystytki: </p></b>
<p> Siła: {{object.strength}} </p>
<p> Mana: {{object.mana}} </p>
<p> HP: {{object.HP}} </p>
<p> AUTOR: {{ object.user }}
</center>
<br><br>
<div align="right">
{% if request.user.is_authenticated %}
  {% if request.user == object.user %}
    <a role="button" href='{{ object.get_edit_url}}' class="btn btn-sm btn-outline-primary">Edytuj</a>
    <a role="button" href='{{ object.get_delete_url }}' class="btn btn-sm btn-outline-danger">Usuń</a>
  {% endif %}
{% endif %}
{% endblock %}
</div>
